<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <header th:fragment="header">
        <!-- Start Top Header Bar -->
        <section class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-4">
                        <div class="contact-number">
                            <i class="tf-ion-ios-telephone"></i>
                            <span>0129- 12323-123123</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-4">
                        <!-- Site Logo -->
                        <div class="logo text-center">
                            <a th:href="@{/}">
                                <!-- replace logo here -->
                                <svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                                       font-family="AustinBold, Austin" font-weight="bold">
                                        <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                            <text id="AVIATO">
                                                <tspan x="108.94" y="325">AVIATO</tspan>
                                            </text>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-4">

                        <ul class="top-menu text-right list-inline">

                            <li class="dropdown cart-nav dropdown-slide">
                                <a th:href="@{/cart}" class="dropdown-toggle" data-hover="dropdown"><i
                                        class="tf-ion-android-cart"></i>Cart</a>
                                <div th:if="${productCartList != null and !productCartList.isEmpty()}"
                                     class="dropdown-menu cart-dropdown">
                                    <!-- Cart Item -->
                                    <div class="media" th:each="product : ${productCartList}">
                                        <a class="pull-left" th:href="@{|/shop/products/${product.productId}|}">
                                            <img class="media-object" th:src="${product.productImage}" alt="image" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a th:href="@{|/shop/products/${product.productId}|}"
                                                   th:text="${product.productName}"></a>
                                            </h4>
                                            <div class="cart-price">
                                                <span th:text="${product.quantity} + ' x '"></span>
                                                <span th:text="'$' + ${product.itemPrice}"></span>
                                            </div>
                                            <h5><strong th:text="'$' + ${product.totalPrice}"></strong></h5>
                                        </div>
                                    </div><!-- / Cart Item -->
                                    <!-- Cart Item -->

                                    <ul class="text-center cart-buttons">
                                        <li><a th:href="@{/cart}" class="btn btn-small btn-solid-border">View Cart</a></li>
                                        <li><a th:href="@{/checkout}" class="btn btn-small btn-solid-border">Checkout</a></li>
                                    </ul>
                                </div>

                            </li><!-- / Cart -->

                            <!-- Search -->
                            <li class="dropdown search dropdown-slide">
                                <a th:href="@{/}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
                                        class="tf-ion-ios-search-strong"></i> Search</a>
                                <ul class="dropdown-menu search-dropdown">
                                    <li>
                                        <form action="post"><input type="search" class="form-control" placeholder="Search..."></form>
                                    </li>
                                </ul>
                            </li><!-- / Search -->

                            <!-- Languages -->
                            <li class="commonSelect">
                                <select class="form-control">
                                    <option>EN</option>
                                    <option>VI</option>
                                </select>
                            </li><!-- / Languages -->

                        </ul><!-- / .nav .navbar-nav .navbar-right -->
                    </div>
                </div>
            </div>
        </section><!-- End Top Header Bar -->

        <!-- Main Menu Section -->
        <section class="menu">
            <nav class="navbar navigation">
                <div class="container">
                    <div class="navbar-header">
                        <h2 class="menu-title">Main Menu</h2>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div><!-- / .navbar-header -->

                    <!-- Navbar Links -->
                    <div id="navbar" class="navbar-collapse collapse text-center">
                        <ul class="nav navbar-nav">

                            <!-- Home -->
                            <li class="dropdown ">
                                <a th:href="@{/}">Home</a>
                            </li><!-- / Home -->


                            <!-- Elements -->
                            <li class="dropdown dropdown-slide">
                                <a th:href="@{/}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                                   role="button" aria-haspopup="true" aria-expanded="false">Shop <span
                                        class="tf-ion-ios-arrow-down"></span></a>
                                <div class="dropdown-menu">
                                    <div class="row">

                                        <!-- Basic -->
                                        <div class="col-lg-12 col-md-12 mb-sm-6">
                                            <ul>
                                                <li class="dropdown-header">Pages</li>
                                                <li role="separator" class="divider"></li>
                                                <li><a th:href="@{/shop}">Shop</a></li>
                                                <li><a th:href="@{/checkout}">Checkout</a></li>
                                                <li><a th:href="@{/cart}">Cart</a></li>
                                            </ul>
                                        </div>

                                    </div><!-- / .row -->
                                </div><!-- / .dropdown-menu -->
                            </li><!-- / Elements -->


                            <!-- Pages -->
                            <li class="dropdown full-width dropdown-slide">
                                <a th:href="@{/}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
                                   role="button" aria-haspopup="true" aria-expanded="false">Pages <span
                                        class="tf-ion-ios-arrow-down"></span></a>
                                <div class="dropdown-menu">
                                    <div class="row">

                                        <!-- Introduction -->
                                        <div class="col-sm-3 col-xs-12">
                                            <ul>
                                                <li class="dropdown-header">Introduction</li>
                                                <li role="separator" class="divider"></li>
                                                <li><a th:href="@{/contact}">Contact Us</a></li>
                                                <li><a th:href="@{/about}">About Us</a></li>
                                                <li><a th:href="@{/faq}">FAQ</a></li>
                                            </ul>
                                        </div>

                                        <!-- Contact -->
                                        <div class="col-sm-3 col-xs-12">
                                            <ul>
                                                <li class="dropdown-header">Dashboard</li>
                                                <li role="separator" class="divider"></li>
                                                <li th:if="${account.isAdmin}"><a th:href="@{/admin/dashboard}">Dashboard</a></li>
                                                <li><a th:href="@{/account/orders}">Orders</a></li>
                                                <li><a th:href="@{/account/address}">Address</a></li>
                                                <li><a th:href="@{/account/profile}">Profile Details</a></li>
                                            </ul>
                                        </div>

                                        <!-- Utility -->
                                        <div class="col-sm-3 col-xs-12">
                                            <ul>
                                                <li class="dropdown-header">Utility</li>
                                                <li role="separator" class="divider"></li>
                                                <li th:if="${account.id != null}"><a th:href="@{/account/logout}">Logout</a></li>
                                                <li th:unless="${account.id != null}"><a th:href="@{/account/login}">Login Page</a></li>
                                                <li><a th:href="@{/account/signup}">Signup Page</a></li>
                                                <li><a th:href="@{/account/forget-password}">Forget Password</a></li>
                                            </ul>
                                        </div>

                                        <!-- Mega Menu -->
                                        <div class="col-sm-3 col-xs-12">
                                            <a th:href="@{/shop}">
                                                <img class="img-responsive" th:src="@{/images/shop/header-img.jpg}" alt="menu image" />
                                            </a>
                                        </div>
                                    </div><!-- / .row -->
                                </div><!-- / .dropdown-menu -->
                            </li><!-- / Pages -->

                        </ul><!-- / .nav .navbar-nav -->

                    </div>
                    <!--/.navbar-collapse -->
                </div><!-- / .container -->
            </nav>
        </section>
    </header>
</body>
</html>
