<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<!-- 
THEME: Aviato | E-commerce template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/aviato-e-commerce-template/
DEMO: https://demo.themefisher.com/aviato/
GITHUB: https://github.com/themefisher/Aviato-E-Commerce-Template/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Coming soon')"></head>

<body id="body">

<section class="coming-soon bg-coming-soon text-center overly">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="block">
					<div class="count-down">
						<div class="syotimer">
							<div class="your_selector_to_countdown" id="simple-timer"></div>
						</div>
					</div>
					<h1>Hello, we're Aviato and <br> we are almost ready for launch</h1>
					<div class="social-media-icons mt-20">
						<ul>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-facebook"></i></a></li>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-twitter"></i></a></li>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-linkedin"></i></a></li>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-octocat"></i></a></li>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-pinterest"></i></a></li>
							<li><a href="https://themefisher.com/"><i class="tf-ion-social-instagram"></i></a></li>

						</ul>


					</div>

					<p class="copyright-text">Copyright &copy; 2020. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></p>

				</div>
			</div>
		</div>
	</div>
</section>

<div th:replace="fragments/js-script-container"></div>


  </body>
  </html>
