<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<!-- 
THEME: Aviato | E-commerce template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/aviato-e-commerce-template/
DEMO: https://demo.themefisher.com/aviato/
GITHUB: https://github.com/themefisher/Aviato-E-Commerce-Template/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Shop')"></head>
<body id="body">

<div th:replace="fragments/header :: header"></div>

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Shop</h1>
					<ol class="breadcrumb">
						<li><a th:href="@{/}">Home</a></li>
						<li class="active">shop</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="products section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="widget">
					<h4 class="widget-title">Short By</h4>
					<form method="post" action="#">
                        <select class="form-control">
                            <option>Man</option>
                            <option>Women</option>
                            <option>Accessories</option>
                            <option>Shoes</option>
                        </select>
                    </form>
	            </div>
				<div class="widget product-category">
					<h4 class="widget-title">Categories</h4>
					<div class="panel-group commonAccordion">
						<div class="panel panel-default" th:each="category : ${categories}">
							<h4 th:if="${category.id != 128}" class="panel-title">
								<a role="button" th:text="${category.name}"
								   th:href="@{/shop(category_id=${category.id})}">
								</a>
							</h4>
					  	</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4" th:each="product : ${productList}">
						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" th:src="${product.imageUrl}" alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<a th:href="@{|/shop/products/${product.id}|}">
												<i class="tf-ion-ios-search-strong"></i>
											</a>
										</li>
										<li>
											<a href="#" ><i class="tf-ion-ios-heart"></i></a>
										</li>
										<li>
											<a th:id="${product.id}" th:onclick="'addToCart('+${product.id}+','+ ${isLogin}+','+ ${userId}+','+ ${teamNum}+')'" ><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a th:href="@{|/shop/products/${product.id}|}"
									   th:text="${product.name}"></a></h4>
								<p class="price" th:text="'$' + ${product.price}"></p>
							</div>
						</div>
					</div>
				</div>				
			</div>
		
		</div>
	</div>
</section>


<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/js-script-container"></div>


  </body>
  </html>
