<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<!-- 
THEME: Aviato | E-commerce template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/aviato-e-commerce-template/
DEMO: https://demo.themefisher.com/aviato/
GITHUB: https://github.com/themefisher/Aviato-E-Commerce-Template/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Sign up')"></head>

<body id="body">

  <section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <a class="logo" th:href="@{/}">
              <img th:src="@{/images/logo.png}" alt="">
            </a>
            <h2 class="text-center">Create Your Account</h2>
            <div class="alert" role="alert" th:text="${notice}" th:if="${notice}"></div>
            <form class="text-left clearfix" th:action="@{/account/signup}" method="post" th:object="${registerForm}">
              <div class="form-group">
                <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name">
              </div>
              <div class="form-group">
                <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name">
              </div>
              <div class="form-group">
                <input type="text" th:field="*{country}" class="form-control" placeholder="Country">
              </div>
              <div>
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username">

              </div>
              <div class="form-group">
                <input type="email" th:field="*{email}" class="form-control" placeholder="Email">

              </div>
              <div>
                <input type="text" th:field="*{phone}" class="form-control" placeholder="Phone">

              </div>
              <div class="form-group">
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
              </div>
              <div>
                <input type="password" th:field="*{password_confirmation}" class="form-control"
                  placeholder="Confirm password">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-main text-center">Signup</button>
              </div>
            </form>
            <p class="mt-20">Already hava an account ?<a th:href="@{/account/login}"> Login</a></p>
            <p><a th:href="@{/forget-password}"> Forgot your password?</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div th:replace="fragments/js-script-container"></div>

</body>

</html>